/*Responsive design rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Navigation bar rules*/
main {
  background-image: url(images/pexels-wallpaper.jpg);
  background-color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.nav_bar {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:  rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  padding: 25px 35px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}

.nav_bar a {
  color: #FFF;
  letter-spacing: 1px;
  text-decoration: none;
}

/*Menu links rules*/
.menu_list {
  list-style: none;
}

.menu_labels {
  display: inline-block;
}

.menu_labels a {
  margin-left: 40px;
}

/*Figure rules*/
#image {
  width: 500px;
  height: 500px;
}